@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');



* {
  margin: 0;
  padding: 0;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 0;
  background: none;
  list-style-type: none;
}



:root{
  --bg_color: #894BCA;
  --bg_color2: #6F6F6F;
  --header_color: #2C2C2C;
  --text_color: #A3A3A3;
  --input_bg:#F5F5F5;
  --border_color:#E4E4E4;
  --white:#fff;
}


body{
  font-family: 'Asap', sans-serif !important;
}

.css-cuefkz-MuiContainer-root {
  max-width: calc(100% - 300px) !important;
  margin-right: 0 !important;
  padding: 0 30px !important;
}

/* Preloader */
.Preloader{
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.Preloader .img{
  display: inline-block;
  /* background: var(--white); */
  border-radius: 10px;
}

.Preloader .img img{
  width: 100%;
}

/* Common Css */

h2{
  font-weight: 600;
  font-size: 75px;
  line-height: 80px;
}

h3{
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: var(--header_color);
}

h4{
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--bg_color);
}

p{
  font-size: 16px;
  list-style: 26px;
  color: var(--text_color);
  font-weight: 400;
  margin-top: 10px;
}

a, button{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--header_color);
  display: inline-block;
}

a.bg, button.bg {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  background: var(--bg_color);
  color: var(--white);
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  text-transform: capitalize; 
}

a.bg:hover, button.bg:hover{
  background: var(--bg_color);
  color: var(--white);
}

.d_flex{
  display: flex;
  align-items: center;
}

.d_justify{
  justify-content: space-between;
}

.Header p{
  font-size: 14px;
  line-height: 20px;
  margin-top: 0px;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.Sidebar .MenuItem .MuiButtonBase-root {
    padding: 0;
}
.MuiContainer-root.MuiContainer-maxWidthSm.css-1m6pqln {
    max-width: calc(100% - 350px);
    margin-right: 30px;
    padding: 0;
}

.Login .MuiFormControl-root.MuiTextField-root.css-i44wyl {
    width: 100%;
}

/* ---------------------------------------------------------------------------------------------------------------------------
  Login
--------------------------------------------------------------------------------------------------------------------------- */
.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg_color);
  height: 100vh;
}

.LoginContent {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  background: var(--white);
  padding: 40px;
  border-radius: 20px;
}

.LoginContent .Logo img {
  height: 70px;
}

.LoginContent h3 {
  color: var(--bg_color2);
  margin-top: 10px;
}

.CustomeInput{
  margin-top: 20px;
  text-align: left;
}

.CustomeInput label{
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--bg_color2);
  display: block;
  margin-bottom: 10px;
}

.CustomeInput input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background: var(--input_bg);
  border-radius: 10px;
  width: 100%;
  border: none;
  height: 20px;
}

.TopSellingProducts .DashboardForm .CustomeInput .Item.Multiline .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
  padding: 0;
}

.TopSellingProducts .DashboardForm .CustomeInput .Item.Multiline textarea#outlined-multiline-static {
  background: var(--input_bg);
  border-radius: 10px;
}

.TopSellingProducts .DashboardForm .CustomeInput .Item.Multiline textarea#outlined-multiline-static {
  padding: 10px 20px;
}

.CustomeInput .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
  width: 100%;
}

.CustomeInput .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: var(--bg_color);
}

.CustomeInput .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  font-size: 14px;
  line-height: 24px;
  color: var(--text_color) ;
  font-weight: 400 ;
  margin-bottom: 0;
}

.CustomeInput .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  border: none ;
  border-radius: 10px;
}

.CustomeInput .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border: none;
}

.CustomeInput .Mui-focused .MuiOutlinedInput-notchedOutline{
  border: 1px solid var(--bg_color);
}

.CustomeInput p{
  text-align: center;
}

.CustomeInput p a{
  color: var(--bg_color);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.CustomeInput h6{
  font-size: 20px;
  line-height: 30px;
  color: var(--header_color);
  text-align: center;
  font-weight:600;
}

.LoginWith {
  justify-content: center;
  margin-top: 20px;
}

.LoginWith a{
  font-size: 40px;
  color: #1877F2;
  margin: 0 20px;
}

.LoginWith a:last-child{
  color: #EA4335;
}

.CustomeInput .forgate{
  text-align: right;
}




/* ---------------------------------------------------------------------------------------------------------------------------
  Sidebar
--------------------------------------------------------------------------------------------------------------------------- */
.Sidebar {
  width: 250px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.170509);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.Sidebar .Logo {
  width: 85%;
  margin: 0 auto;
}

.Sidebar .Logo img {
  width: 100%;
  object-fit: cover;
}

.Sidebar .Shop {
  text-align: center;
  margin-top: 10px;
}

.Sidebar .Shop img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.Sidebar .Shop h4{
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: var(--bg_color);
  margin-top: 5px;
}

.Sidebar .MenuItemContent {
  margin-top: 20px;
  overflow-y: auto;
  padding-bottom: 30px;
  height: 65vh;
}

.Sidebar .MenuItem{
  margin-top: 10px;
}

.Sidebar .MenuItem a {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
}

.Sidebar .MenuItem a svg{
  margin-right: 10px;
  font-size: 18px;
}

.Sidebar .MenuItem a span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 4px;
}

.Sidebar .MenuItem .css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root{
  padding: 0;
}

.Sidebar .MenuItem a.active{
  background: var(--bg_color);
  color: var(--white);
}

.Sidebar .MenuItem .css-9l5vo-MuiCollapse-wrapperInner a{
  padding: 10px 15px;
  padding-left: 50px;
}

.Sidebar .MenuItem .css-9l5vo-MuiCollapse-wrapperInner a::after {
  position: absolute;
  content: '';
  top: 20px;
  left: 30px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--text_color);
  z-index: 9;
}


/* Scrool */
/* width */
.Sidebar ::-webkit-scrollbar {
  width: 10px;
  display: none;
}

/* Track */
.Sidebar ::-webkit-scrollbar-track {
  background: #f1f1f1;
  display: none;
}

/* Handle */
.Sidebar ::-webkit-scrollbar-thumb {
  background: #888;
  display: none;
}

/* Handle on hover */
.Sidebar ::-webkit-scrollbar-thumb:hover {
  background: #555;
  display: none;
}



/* ---------------------------------------------------------------------------------------------------------------------------
  Menubar
--------------------------------------------------------------------------------------------------------------------------- */
.MenubarContent {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  padding: 5px 20px;
  margin-top: 50px;
  color: var(--bg_color);
}

.MenubarContent .CustomeInput{
  width: 400px;
}

.MenubarContent .Left{
  width: 20%;
}

.MenubarContent .Left h4{
  font-size: 20px;
  line-height: 30px;
  color: var(--bg_color);
  font-weight: 600;
}

.MenubarContent .right {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.MenubarContent .right .CustomeInput{
  margin: 0;
  position: relative;
}

.MenubarContent .right .CustomeInput input {
  height: 10px;
}

.MenubarContent .right .CustomeInput .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  top: -6px;
}


.MenubarContent .CustomeInput button{
  position: absolute;
  padding: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--bg_color);
}

.SupportTicket{
  padding: 0 20px;
}

.SupportTicket svg{
  font-size: 25px;
  color: var(--bg_color);
}

.MenubarContent .Profile .img{
  cursor: pointer;
}

.MenubarContent .Profile .img img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
  padding: 0 !important;
  margin: 0 !important;
}

.MenubarContent .css-6hp17o-MuiList-root-MuiMenu-list {
  top: 133px !important;
  left: 1740px !important;
  transform-origin: 27px 0px;
  padding: 0;
}

#fade-menu li{
  padding: 0;
}

#fade-menu a{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--header_color);
  display: inline-block;
  padding: 10px 20px;
  width: 100%;
}

#fade-menu .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
  top: 114px !important;
  left: 1710px !important;
}

/* ---------------------------------------------------------------------------------------------------------------------------
  HomePage
--------------------------------------------------------------------------------------------------------------------------- */

/* NoticeBoard */
.NoticeBoard{
  margin: 30px 0;
}

.NoticeBoard .NoticeBoardImg img{
  width: 100%;
}

.NoticeBoardContent{
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 15px;
  background: var(--white);
}

.NoticeBoardContent h3{
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  color: var(--bg_color);
  padding: 20px;
}

.NoticeBoardContent h3 svg{
  margin-right: 10px;
}

/* NoticeBoardTabs */
.NoticeBoardTabs{
  margin-top: 10px;
}

.NoticeBoardTabs .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--text_color);
}

.NoticeBoardTabs .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: var(--bg_color);
}

.NoticeBoardTabs .css-1aquho2-MuiTabs-indicator{
  background-color: var(--bg_color);
}

.NoticeBoardTabs .TabsItem span{
  font-size: 12px;
  line-height: 20px;
  color: var(--text_color);
  margin-right: 10px;
}

.NoticeBoardTabs .css-13xfq8m-MuiTabPanel-root{
  padding: 0;
}

.NoticeBoardTabs .TabsItem{
  padding: 20px;
  border-bottom: 1px solid var(--border_color);
}

.NoticeBoardTabs .TabsItem:last-child{
  border-bottom: 0;
  border-radius: 0 0 10px 10px;
}

.NoticeBoardTabs .TabsItem.bg{
  background: #F6F0FF;
}

.NoticeBoardTabs .TabsItem h5{
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--text_color);
  margin-top: 10px;
  position: relative;
  padding-left: 20px;
}

.NoticeBoardTabs .TabsItem h5:after{
  position: absolute;
  content: '';
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--bg_color);
}

.NoticeBoardTabs .TabsItem h5 a{
  color: var(--bg_color);
  font-weight: 600;
  text-decoration: underline;
}

/* TotalOrder */


.TotalOrderItem {
  background: var(--bg_color);
  box-shadow: 0px 4.69076px 6.56707px rgba(0, 0, 0, 0.056545);
  border-radius: 15px;
  padding: 30px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.TotalOrderItem .overlayImg{
  position: absolute;
  top: 50%;
  transform:translateY(-50%) ;
  left: 0;
}

.TotalOrderItem .Header{
  position: relative;
  z-index: 9;
}

.TotalOrderItem .Header #fade-button-Order{
  position: relative;
}

.TotalOrderItem .overlayImg img{
  width: 100%;
}

.TotalOrderItem h5{
  font-size: 16px;
  line-height: 26px;
  color: var(--white);
  font-weight: 700;
}

.TotalOrderItem h5 svg{
  margin-right: 10px;
}

.TotalOrderItem h6{
  font-size: 16px;
  line-height: 26px;
  color: var(--white);
  font-weight: 400;
  text-transform: capitalize;
}

.TotalOrderItem .css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  padding: 0;
}

.TotalOrderItem h6 .svg{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--white);
  box-shadow: 0px 0px 4.93757px #E4E2E2;
  margin-left: 10px;
}

.TotalOrderItem h6 .svg svg{
  color: var(--bg_color);
}

.TotalOrderItem .Main{
  margin: 20px 0;
  position: relative;
  z-index: 9;
}

.TotalOrderItem .Main h3{
  font-weight: 600;
  font-size: 77px;
  line-height: 90px;
  color: var(--white);
}

.TotalOrderItem .Main h3 span{
  font-size: 40px;
}

.TotalOrderItem .Main ul{
  margin-top: 15px;
}

.TotalOrderItem .Main ul li{
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
} 

.TotalOrderItem .Main ul li span{
  margin: 0 10px;
  font-size: 20px;
  font-weight: 500;
}

.TotalOrderItem .Main ul li span svg{
  margin-right: 10px;
  font-weight: 700;
  font-size: 20px;
}

.SalesTarget{
  background: var(--white);
  box-shadow: 0px 4.69076px 6.56707px rgba(0, 0, 0, 0.056545);
  border-radius: 15px;
}

.SalesTarget .TotalOrderItem{
  background: none;
  width: 38%;
  box-shadow: none;
  margin-bottom: 0;
}

.SalesTarget .salseChart{
  width: 20%;
}

.SalesTarget .TotalOrderItem h5 {
  font-size: 16px;
  line-height: 26px;
  color: var(--bg_color2);
  font-weight: 700;
}

.SalesTarget .TotalOrderItem h6 {
  font-size: 16px;
  line-height: 26px;
  color: var(--bg_color);
  font-weight: 400;
  text-transform: capitalize;
}

.SalesTarget .TotalOrderItem .Main{
  margin-bottom: 0;
}

.SalesTarget .TotalOrderItem .Main h3 {
  font-size: 40px;
  line-height: 50px;
  color: #5DCA08;
}

.SalesTarget .TotalOrderItem .Main ul li {
  color: var(--text_color);
  display: block;
}

.SalesTarget .TotalOrderItem .Main ul li span {
  color: #5DCA08;
  margin: 0;
}

.SalesTarget .TotalOrderItem button.ModalBtn{
  background: var(--bg_color);
  padding: 5px 30px;
  border-radius: 5px;
  margin-top: 15px;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
}

.SalesTargetModal {
  width: 700px;
  max-height: 750px;
  background: var(--white);
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  overflow-y: auto;
}

.SalesTargetModal .svg{
  margin-right: 15px;
}

.SalesTargetModal svg{
  font-size: 35px;
  color: var(--bg_color2);
}

.SalesTargetModal h5{
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--bg_color);
}

.SalesTargetModal p{
  margin-top: 0px;
  font-size: 14px;
  line-height: 20px;
}

.DuelButton button{
  background: var(--bg_color);
  padding: 5px 30px;
  border-radius: 5px;
  margin-top: 15px;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
}

.DuelButton button.Delete{
  background: #FE0707;
  margin-left: 20px;
}

.DuelButton button:hover{
  background: var(--bg_color);
  color: var(--white);
}

.DuelButton button.Delete:hover{
  background: #FE0707;
  color: var(--white);
}

.SalesTarget .TotalOrderItem h6.CancelOrder{
  font-size: 20px;
  line-height: 30px;
  color: var(--bg_color);
}

.SalesTarget .TotalOrderItem h6.CancelOrder span{
  font-size: 14px;
  color: var(--text_color);
}


/* GraphChart */
.GraphChart{
  margin: 30px 0;
}

.GraphChart img{
  width: 100%;
}


/* TopSellingProducts */

.TopSellingProducts{
  margin-bottom: 30px;
}

.TopSellingProducts .Header{
  background: #F5F5F5;
  padding: 20px;
  border-radius: 15px;
}

.TopSellingProducts .svg{
  margin-right: 15px;
}

.TopSellingProducts .svg svg{
  font-size: 40px;
  color: var(--bg_color2);
}

.TopSellingProducts .Right h6{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--bg_color2);
  margin-right: 10px;
}

.TopSellingProducts .MuiFormControl-root {
  width: 150px;
  background: var(--white);
  border: 0;
}

.TopSellingProducts .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  height: 15px;
  min-height: 15px;
  padding: 15px;
  padding-top: 10px;
  font-size: 14px;
  line-height: 20px;
  color: var(--text_color);
}

.TopSellingProducts .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  top: -6px;
}

.TopSellingContent{
  margin-top: 30px;
}

.TopSellingItem { 
  background: var(--white);
  box-shadow: 0px 6.95435px 9.7361px rgba(0, 0, 0, 0.056545);
  border-radius: 20px;
  padding: 30px;
}

.TopSellingItem h5{
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: var(--bg_color2);
}

.TopSellingItem .Product{
  margin-top: 10px;
}

.TopSellingItem .Product .img{
  margin-right: 20px;
}

.TopSellingItem .Product img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: fill;
}

.TopSellingItem .Product li{
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: var(--text_color);
  margin-bottom: 5px;
}

.TopSellingItem .Product li span{
  color: var(--text_color);
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  padding-left: 5px;
}

.TopSellingItem .Product li span.bg{
  color: #5DCA08;
}


/* WebsiteLink */

.WebsiteLink .css-kgmwx6-MuiPaper-root-MuiAlert-root .MuiAlert-icon{
  display: none;
}

.WebsiteLink .css-kgmwx6-MuiPaper-root-MuiAlert-root{
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 15px;
  background: var(--white);
  padding: 20px;
  margin-top: 20px;
  max-width: 100%;
}

.WebsiteLink .css-pwcg7p-MuiCollapse-root {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 15px;
  margin-top: 30px;
}

.WebsiteLink  .css-4bzs8s-MuiPaper-root-MuiAlert-root {
  margin-bottom: 0;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
}

.WebsiteLinkItem .img{
  margin-right: 30px;
}

.WebsiteLinkItem h4{
  font-size: 20px;
  line-height: 30px;
}

.WebsiteLinkItem ul{
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.WebsiteLinkItem ul li{
  font-size: 16px;
  line-height: 20px;
  color: var(--text_color);
  font-weight: 400;
  display: inline-block;
  margin-right: 20px;

}

.WebsiteLinkItem ul li a{
  font-size: 16px;
  line-height: 20px;
  color: var(--bg_color);
  font-weight: 600;
  padding: 0 5px;
}

.WebsiteLinkItem ul li .SocialLink{
  font-size: 20px;
  color: #1877F2;
  padding: 0 10px;
}

.WebsiteLinkItem ul li .SocialLink:nth-child(2){
  color: #4CAF50;
}

.WebsiteLinkItem ul li .SocialLink:last-child{
  color: var(--bg_color2);
}

.WebsiteLinkItem ul li .Btn{
  background: var(--bg_color);
  color: var(--white);
  padding: 5px 20px;
  border-radius: 5px;
}


/* WelcomeModel */
.WelcomeModelContent{
  background: var(--white);
  border-radius: 20px;
  padding: 30px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.WelcomeModelContent h3{
  font-family: 'Niconne', cursive;
  font-size: 50px;
  line-height: 60px;
  color: var(--bg_color);
  letter-spacing: 2px;
}

.WelcomeModelContent .Gif{
  margin: 20px 0;
}

.WelcomeModelContent img{
  width: 100%;
}

.WelcomeModelContent p{
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  padding: 0 100px;
}

.WelcomeModelContent p span{
  color: var(--bg_color);
}

/* ---------------------------------------------------------------------------------------------------------------------------
  DashboardSetting
--------------------------------------------------------------------------------------------------------------------------- */
.DashboardSetting{
  padding: 30px 0;
}

.DashboardSettingTabs{
  margin-top: 30px;
}

.DashboardSetting .css-1gsv261{
  border: 0;
}

.DashboardSetting  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  border: 0;
  background:#F5F5F5;
  margin-right: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  padding: 10px 30px;
  border-radius: 5px;
  min-height: auto;
  color: var(--text_color);
}

.DashboardSetting .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  background: var(--bg_color);
  color: var(--white);
}

.DashboardSetting .css-1aquho2-MuiTabs-indicator{
  background-color: unset;
}

.DashboardSetting .css-13xfq8m-MuiTabPanel-root {
  padding: 0px;
}

.DashboardTabsItem{
  margin-top: 30px;
}

.DashboardTabsItem h4{
  color: var(--bg_color2);
}

.DashboardForm{
  margin-top: 50px;
}

.DashboardForm .left {
  margin-top: 20px;
}

.DashboardForm h5{
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: var(--bg_color2);
}

.TopSellingProducts .DashboardForm .MuiFormControl-root {
  width: 100%;
}

.TopSellingProducts .DashboardForm .CustomeInput{
  margin-top: 0;
  width: 70%;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--border_color);
}

.TopSellingProducts .DashboardForm .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  top: -2px;
}

.TopSellingProducts .DashboardForm .CustomeInput .svg {
  position: absolute;
  top: 53px;
  right: 0;
  cursor: pointer;
}

.TopSellingProducts .DashboardForm .svg svg {
  font-size: 20px;
  color: var(--bg_color2);
}

.TopSellingProducts .DashboardForm .CustomeInput .Item{
  margin-top: 20px;
  position: relative;
}

.TopSellingProducts .DashboardForm .css-zow5z4-MuiGrid-root>.MuiGrid-item {
  padding-left: 24px;
  padding-top: 0;
}

.TopSellingProducts .DashboardForm .CustomeInput button{
  background: var(--bg_color2);
}

.CustomeInput .Item.Upload .MuiButtonBase-root {
  background: var(--input_bg);
  box-shadow: none;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px 15px;
  text-transform: capitalize;
  color: var(--text_color);
}

.TopSellingProducts .DashboardForm .CustomeInput button.Update {
  background: var(--bg_color);
  font-size: 16px;
  line-height: 24px;
  padding: 6px 50px;
  text-transform: capitalize;
  color: var(--white);
}

.TopSellingProducts .DashboardForm .CustomeInput button.Cancle {
  background: #EA4335;
  font-size: 16px;
  line-height: 24px;
  padding: 6px 50px;
  text-transform: capitalize;
  color: var(--white);
  margin-left: 20px;
}

/* ---------------------------------------------------------------------------------------------------------------------------
  WebsiteSetting
--------------------------------------------------------------------------------------------------------------------------- */
.WebsiteSettingCashOnDelivary {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 10px;
  background: var(--white);
  margin-top: 30px;
  padding: 20px;
  padding-bottom: 15px;
}

.WebsiteSettingCashOnDelivary h4{
  margin-left: 20px;
  font-size: 20px;
  color: var(--bg_color2);
  margin-top: -5px;
}

.WebsiteSettingCashOnDelivary .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked{
  color: var(--bg_color);
  width: 70px;
}

.WebsiteSettingCashOnDelivary .css-julti5-MuiSwitch-root {
  width: 70px;
  height: 42px;
}

.WebsiteSettingCashOnDelivary .css-jsexje-MuiSwitch-thumb {
  width: 25px;
  height: 25px;
  background: var(--bg_color);
}

.WebsiteSettingCashOnDelivary .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: var(--bg_color);
}

/* InvoiceFormateItem */
.InvoiceFormateItem .img{
  background: #F8F8F8;
  border-radius: 10px;
  padding: 20px;
}

.InvoiceFormate{
  margin-top: 30px;
}

.InvoiceFormateItem img{
  width: 100%;
}

.InvoiceModal {
  width: 600px;
  background: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 20px;
}

.InvoiceModal img{
  width: 100%;
  border-radius: 20px;
}

.InvoiceFormate .DuelButton .left, .InvoiceFormate .DuelButton .right{
  width: 48%;
}

.InvoiceFormate .DuelButton button{
  width: 100%;
  margin-top: 20px;
}

.InvoiceFormate .DuelButton .right button{
  background: #5DCA08;

}

/* ChooseDomain */
.ChooseDomain{
  margin-top: 30px;
  text-align: center;
}

.ChooseDomainItem h4{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--bg_color2);
}

.ChooseDomainItem .CustomeInput{
  position: relative;
}

.ChooseDomainItem .CustomeInput input {
  padding: 15px 90px;
  background: var(--input_bg);
  border-radius: 30px;
  font-size: 16px;
  line-height: 24px;
  color: var(--bg_color2);
  border: 1px solid var(--bg_color);
  width: -webkit-fill-available;
  background: var(--white);
}

.ChooseDomainItem .CustomeInput input:focus{
  outline: unset;
}

.ChooseDomainItem .left{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 24px;
  padding: 14px 20px;
  color: var(--text_color);
  border-right: 1px solid var(--bg_color2);
}

.ChooseDomainItem .left h5{
  font-size: 16px;
  line-height: 24px;
  color: var(--bg_color);
}

.ChooseDomainItem button{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  line-height: 24px;
  padding: 14px 20px;
  color: var(--text_color);
  border-right: 1px solid var(--bg_color2);
  border-radius: 0 30px 30px 0;
  background: var(--bg_color);
  width: 150px;
  color: var(--white);
  font-weight: 400;
  text-transform: capitalize;
}

.ChooseDomainItem .DropDown{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 160px;
  z-index: 9;
  cursor: pointer;
}

.ChooseDomainItem .DropDown h6{
  font-size: 16px;
  line-height: 24px;
  color: var(--bg_color);
}

.ChooseDomainItem .DropDown h6 svg{
  color: var(--bg_color);
  font-size: 18px;
  margin-left: 5px;
  margin-top: 8px;
}

.DomainPart{
  justify-content: center;
}

.DomainPartItem{
  width: 80px;
  margin-top: 20px;
  margin-right: 20px;
  background: var(--bg_color);
  position: relative;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all linear .1s;
}

.DomainPartItem img {
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.DomainPartItem a{
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  color: var(--white);
  z-index: 9;
  text-align: center;
}

.YourWebLink{
  margin-top: 50px;
}

.YourWebLink h6{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--bg_color2);
}

.YourWebLink a{
  font-size: 20px;
  margin-top: 10px;
  color: var(--bg_color);
  font-weight: 500;
}


/* ---------------------------------------------------------------------------------------------------------------------------
  Order
--------------------------------------------------------------------------------------------------------------------------- */
.Order .FilterItem{
  margin-left: 30px;
}

.Order .CustomeInput{
  width: 400px;
  position: relative;
  margin-top: 0;
}

.Order .CustomeInput input {
  background: var(--white);
  width: 100%;
  height: 13px;
}

.TopSellingProducts.Order .MuiFormControl-root {
  width: 100%;
  border-radius: 10px;
}

.TopSellingProducts.Order .CustomeInput .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  top: -5px;
}

.Order .CustomeInput button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.MoveToComplete{
  margin-top: 20px;
}

.MoveToComplete h6 {
  color: var(--bg_color);
  padding: 8px 20px;
  border: 1px solid var(--bg_color);
  border-radius: 5px;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
}

.TopSellingProducts .MoveToComplete .svg{
  margin-right: 0;
  margin-left: 10px;
}

.TopSellingProducts .MoveToComplete .svg svg {
  font-size: 18px;
  color: var(--bg_color);
}

.Pending .AddNewOrder{
  padding: 8px 30px;
  border-radius: 5px;
  background: var(--bg_color);
  color: var(--white);
  text-transform: capitalize;
} 

/* .MuiPaper-root {
  min-width: 150px;
  max-width: 300px;
} */

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
  font-size: 14px;
  line-height: 20px;
  padding: 10px 20px;
}

/* ProductTable */
.ProductTable{
  margin-top: 30px;
}

.ProductTable table {
  width: 100%;
  border: 0;
  border-spacing: 0;
}

.ProductTable table thead th {
  background: #894bcac2;
  font-size: 16px;
  line-height: 28px;
  color: var(--white);
  font-weight: 400;
  text-align: center;
  padding: 10px;
}

.ProductTable table thead th:first-child{
  border-radius: 10px 0 0 10px;
}

.ProductTable table thead th:last-child{
  border-radius: 0 10px 10px 0;
}

.ProductTable th .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked{
  color: var(--white);
}

.ProductTable td .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked{
  color: var(--bg_color);
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
  padding: 0;
}

.ProductTable table td h6{
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  background: var(--bg_color);
  color: var(--white);
  border-radius: 5px;
  padding: 5px 15px;
  font-weight: 500;
}

.ProductTable table td .svg{
  margin-right: 0;
  margin-left: 10px;
}

.ProductTable table td .svg svg{
  color: var(--white);
  font-size: 20px;
  margin-top: 5px;
}

.ProductTable table tbody tr{
  border: 1px solid var(--bg_color);
}

.ProductTable table td {
  font-size: 14px;
  line-height: 20px;
  color: var(--bg_color2);
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

.ProductTable table tr:nth-child(odd){
  background: #F5F5F5;
}

.ProductTable table td:first-child{
  border-radius: 10px 0 0 10px;
}

.ProductTable table td:last-child{
  border-radius: 0 10px 10px 0;
}

.ProductTable table td img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.ProductTable table td button{
  padding: 0;
}

.MoveToComplete a.AddProduct, .MoveToComplete button.AddProduct{
  background: var(--bg_color);
  color: var(--white);
  padding: 8px 50px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.MoveToComplete a.AddProduct svg, .MoveToComplete button.AddProduct svg{
  color: var(--white);
  margin-left: 10px;
  font-size: 22px;
}

.ProductTable table button.Print{
  background: var(--white);
  color: var(--bg_color);
  border: 1px solid var(--bg_color);
  padding: 8px 30px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}

.ProductTable table button.Print svg{
  margin-left: 10px;
  font-size: 20px;
}

.ProductTable table .EditViewDelete a{
  font-size: 25px;
  margin-left: 20px;
  color: var(--bg_color2);
}

.ProductTable table .EditViewDelete .UpdateStock{
  font-size: 16px;
  line-height: 24px;
  background: var(--bg_color);
  color: var(--white);
  padding: 5px 30px;
  border-radius: 5px;
  text-transform: capitalize;
}

.ProductTable table .EditViewDelete .Unpublished{
  background: var(--text_color);
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  padding: 5px 30px;
  border-radius: 5px;
  text-transform: capitalize;
}


.ProductTable table .EditViewDelete a:hover{
  color: var(--bg_color);
}

.SubCategory .MuiInputBase-root{
  background: var(--input_bg);
}

.SubCategory #demo-simple-select {
  height: 22px;
}

.MoveToComplete .Download h6{
  background: var(--bg_color);
  color: var(--white);
}

.TopSellingProducts .MoveToComplete .Download .svg svg {
  font-size: 18px;
  color: var(--white);
}

/* UpdateStock */
.UpdateStockModal{
  background: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  padding: 30px;
  border-radius: 10px;
}

.UpdateStockModal .Header .svg{
  margin-right: 15px;
}

.UpdateStockModal .Header .svg svg{
  font-size: 40px;
  color: var(--text_color);
}

.UpdateStockModalContent{
  margin-top: 30px;
}

.UpdateStockModalContent img{
  height: 50px;
}

.UpdateStockModalContent h6{
  font-size: 16px;
  line-height: 24px;
  color: var(--text_color);
  font-weight: 600;
  margin-left: 15px;
}

.UpdateStockModalContent h4{
  font-size: 18px;
  line-height: 30px;
  color: var(--bg_color2);
  font-weight: 600;
  margin-top: 20px;
}

.UpdateStockModalContent h4 span{
  color: var(--bg_color);
  margin-left: 5px;
}

.UpdateStockModalContent .Item{
  position: relative;
}

.UpdateStockModalContent .Item .svg{
  position: absolute;
  top: 50px;
  right: 10px;
}

.UpdateStockModalContent .Item .svg svg{
  font-size: 30px;
}

.UpdateStockModalContent .Item  button{
  background: var(--bg_color);
  font-size: 16px;
  line-height: 24px;
  padding: 6px 50px;
  text-transform: capitalize;
  color: var(--white);
}

.UpdateStockModalContent  p{
  text-align: left;
  padding: 30px 0;
}

.UpdateStockModal .Close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--text_color);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UpdateStockModal .Close svg{
  color: #EA4335;
}


/* ---------------------------------------------------------------------------------------------------------------------------
  TotalSMSSent BulkSms
--------------------------------------------------------------------------------------------------------------------------- */
.TotalSMSSent .Main {
  margin: 35px 0;
}

.TotalSMSSent .TotalOrderItem {
  padding: 25px;
}

/* SMSBalance */
.TotalSMSSent .SMSBalance{
  background: var(--white);
  box-shadow: 0px 0px 20px rgba(86, 86, 86, 0.1);
}

.TotalSMSSent .SMSBalance h5{
  color: var(--bg_color2);
}

.TotalSMSSent .SMSBalance .Main {
  margin-bottom: 0;
  margin-top: 10px;
}

.TotalSMSSent .SMSBalance .Main h3{
  color: #5DCA08;
  font-size: 50px;
  line-height: 60px;
}

.TotalSMSSent .SMSBalance .Main li {
  font-size: 14px;
  line-height: 20px;
  color: var(--text_color);
  padding-top: 0px;
  font-weight: 400;
}

.TotalSMSSent .SMSBalance .Main li span{
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: var(--bg_color2);
  margin-left: 10px;
}

.TotalSMSSent .SMSBalance .Main li button{
  background: var(--bg_color);
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  text-transform: capitalize;
}

/* TotalSMSSentRight */
.TotalSMSSentRight{
  background: var(--white);
  box-shadow: 0px 0px 20px rgba(86, 86, 86, 0.1);
  border-radius: 15px; 
  padding: 25px;
}

.TotalSMSSentRight h5{
  font-size: 16px;
  line-height: 24px;
  color: var(--bg_color2);
  font-weight: 400;
  position: relative;
  width: 30%;
  margin-right: 20px;
  z-index: 9;
  text-align: center;
}

.TotalSMSSentRight .img {
  width: 70%;
  margin-top: -10px;
}

.TotalSMSSentRight h5 span{
  font-size: 18px;
  color: var(--bg_color);
  font-weight: 600;
}

.TotalSMSSentRight h5 img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

.TotalSMSSentRight h6{
  font-size: 16px;
  line-height: 26px;
  color: var(--bg_color);
  margin-top: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.TotalSMSSentRight h6 button{
  background: var(--bg_color);
  color: var(--white);
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 10px;
  padding: 5px 15px;
  text-transform: capitalize;
  margin-left: 15px;
  margin-top: 0;
}

.TotalSMSSentRight h6 button:hover{
  background: var(--bg_color);
}


/* BulkSms */
.BulkSms {
  background: #F8F8F8;
  border-radius: 10px;
  padding: 30px;
  margin-top: 30px;
  padding-bottom: 15px;
}

.BulkSmsItem .CustomeInput{
  width: 100%;
  margin-bottom: 20px;
}

.BulkSmsItem .CustomeInput.lastChild{
  margin-bottom: 0;
}

.BulkSmsItem .CustomeInput button{
  position: unset;
  background: var(--bg_color2);
  font-size: 16px;
  line-height: 24px;
  padding: 6px 50px;
  text-transform: capitalize;
  color: var(--white);
  margin-right: 20px;
  margin-top: 20px;
}

.BulkSmsItem .CustomeInput .DropDown button{
  background: var(--bg_color);
  text-align: center;
}

.BulkSmsItem .CustomeInput h6{
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.BulkSmsItem .CustomeInput .svg{
  margin-right: 0;
}

.BulkSmsItem .CustomeInput h6 svg{
  color: var(--white);
  font-size: 16px;
  margin-left: 10px;
}

.BulkSmsItem .CustomeInput button.SendNow{
  background: #5DCA08;
}

.BulkSmsItem .CustomeInput button.SendLeter{
  background: var(--bg_color);
}

.BulkSMSSection{
  margin-bottom: 0;
  padding-bottom: 0;
}

.UseTamplate{
  margin-top: 20px;
}

.BulkSmsItem .UseTamplate button{
  background: #5DCA08;
}

.BulkSmsItem .UseTamplate a{
  font-size: 25px;
  color: var(--bg_color2);
  margin-right: 20px;
}





/* ---------------------------------------------------------------------------------------------------------------------------
  SupportTicketSection
--------------------------------------------------------------------------------------------------------------------------- */
.SupportTicketSection{
  padding-bottom: 0;
  margin-bottom: 0;
}

.SupportTicketSection .CustomeInput{
  position: relative;
}

.SupportTicketSection .BulkSms{
  margin-top: 0;
}

.SupportTicketSection .CustomeInput .Item.Upload .MuiButtonBase-root {
  background: var(--white);
}

.SupportTicketSection .BulkSmsItem .CustomeInput .svg{
  position: absolute;
  top: 50px;
  right: 20px;
}

.SupportTicketSection .BulkSmsItem .CustomeInput .svg svg{
  font-size: 20px;
}

.SupportTicketSection .BulkSmsItem .CustomeInput button.SendNow {
  background: #EA4335;
}

/* TicketConversationItem */

.TicketConversation{
  margin-bottom: 50px;
}

.TicketConversationItem{
  background: #F5EFFF;
  border-radius: 10px;
  padding: 30px;
  margin-top: 30px;
}

.TicketConversationItem:nth-child(even){
  background: var(--input_bg);
}

.TicketConversationItem h4{
  font-size: 20px;
  line-height: 30px;
  color: var(--bg_color2);
  font-weight: 600;
}

.TicketConversationItem h4{
  font-size: 20px;
  line-height: 30px;
  color: var(--bg_color2);
  font-weight: 600;
}

.TicketConversationItem h5{
  font-size: 16px;
  line-height: 30px;
  color: var(--bg_color2);
  font-weight: 500;
}

.TicketConversationItem p{
  line-height: 28px;
}

.TicketConversationItem button{
  background: var(--bg_color);
  color: var(--white);
  padding: 5px 30px;
  border-radius: 5px;
  margin-top: 20px;
}

.TicketConversationItem button:hover{
  background: var(--bg_color);
}

.TicketConversationItem.Load{
  text-align: center;
  background: none;
}

.SupportTicketSection:last-child{
  margin-bottom: 50px;
}

.SupportTicketSection .ProductTable table td.bg {
  color: var(--bg_color);
}






/* ---------------------------------------------------------------------------------------------------------------------------
  Menubar
--------------------------------------------------------------------------------------------------------------------------- */
.CourierItem{
  background: #F6F6F6;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}

.CourierItem img{
  width: 100%;
}

.CourierItem .text{
  margin-top: 15px;
}

.CourierItem h5{
  font-size: 16px;
  line-height: 24px;
  color: var(--text_color);
  margin-top: 10px;
  font-weight: 400;
}

.CourierItem .InputField{
  padding: 0 10px;
}

.CourierItem .CustomeInput .MuiFormControl-root{
  width: 100%;
}

.CourierItem .CustomeInput .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none;
  background: var(--white);
}

.CourierItem .CustomeInput button{
  background: var(--bg_color);
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  margin-top: 20px;
  text-transform: capitalize;
  width: 100%;
}

.CourierItem .CustomeInput button a{
  color: var(--white);
}

.CourierItem .CustomeInput button:hover{
  background: var(--bg_color);
}


/* CourierDetails */
.CourierDetailsItem{
  background: #FFFFFF;
  box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 30px;
  padding: 30px;
}


.CourierDetailsItem .img{
  margin-bottom: 30px;
}

.CourierListItem{
  text-align: center;
  border-right: 2px solid var(--text_color);
}

.CourierListItem.Last{
  border-right: 0;
}

.CourierDetailsItem h6{
  font-size: 16px;
  line-height: 30px;
  color: var(--bg_color2);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CourierDetailsItem h6 svg{
  margin-right: 10px;
}

.CourierDetailsItem h3{
  font-size: 50px;
  line-height: 65px;
  font-weight: 700;
  color: var(--bg_color);
  margin-top: 20px;
}

.CourierDetailsItem  .css-zow5z4-MuiGrid-root>.MuiGrid-item {
  padding-left: 0;
}

.RequestPayment{
  margin-top: 20px;
  text-align: right;
}

.RequestPayment button{
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 28px;
  padding: 5px 30px;
  border-radius: 5px;
  background: #5DCA08;
  color: var(--white);
}

.RequestPayment button:hover{
  background: #4CAF50;
}

.CheckPaymentContent .CheckPayment {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 30px;
}

.CheckPaymentContent .CheckPayment input{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.CheckPaymentContent .CheckPayment label{
  margin-bottom: 0;
  cursor: pointer;
}

.CheckPaymentContent .CheckPayment label img{
  width: 100%;
}

ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-lis{
  width: 100%;
}


.CourierItem .Item{
  margin-top: 10px;
}




/* ---------------------------------------------------------------------------------------------------------------------------
  Menubar
  Plugin
--------------------------------------------------------------------------------------------------------------------------- */
.Plugin .CourierItem{
  padding: 30px;
  box-shadow: 0px -2px 20px 3px rgb(37 56 87 / 15%);
  background: var(--white);
  position: relative;
}

.Plugin .CourierItem .Free{
  position: absolute;
  top: 20px;
  right: 20px;
}

.Plugin .CourierItem .Free span{
  font-size: 12px;
  line-height: 16px;
  color: var(--white);
  background: var(--bg_color);
  padding: 5px 15px;
  border-radius: 20px;
  text-transform: uppercase;
}

.Plugin .CourierItem img{
  height: 100px;
  width: auto;
}

.Plugin .CourierItem .Toggle {
  margin-top: 15px;
}

.Plugin .CourierItem .Toggle p{
  margin-bottom: 10px;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: var(--bg_color);
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
  background-color: #884bcaa2;
}

/* PluginDetails */

.PluginDetails .CourierItem img{
  height: 120px;
}

.PluginDetails .CourierItem h5{
  color: var(--bg_color2);
  font-weight: 600;
}

.PluginDetails .CourierItem h4{
  color: var(--bg_color);
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 20px;
}

.PluginDetails .CourierItem button{
  font-size: 16px;
  line-height: 26px;
  color: var(--white);
  background: var(--bg_color);
  padding: 6px 30px;
  text-transform: capitalize;
  margin-top: 20px;
}

.PluginDetails  .Description{
  text-align: left;
}

.PluginDetails .Description h3{
  font-size: 20px;
  color: var(--bg_color2);
  line-height: 30px;
}

.PluginDetails .Description p{
  line-height: 26px;
}

.SimilarPlugins{
  margin-top: 30px;
}

.SimilarPlugins h3{
  font-size: 20px;
  color: var(--bg_color2);
  line-height: 30px;
}

.CourierItem.Left {
  height: 85%;
}

p.PageLink{
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

p.PageLink a{
  font-size: 18px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

p.PageLink a svg{
  font-size: 20px;
  margin-left: 8px;
}


/* ---------------------------------------------------------------------------------------------------------------------------
  WebPages
--------------------------------------------------------------------------------------------------------------------------- */
.WebPages button a{
  font-size: 16px;
  line-height: 24px;
  background: var(--bg_color);
  color: var(--white);
  padding: 5px 30px;
  border-radius: 5px;
  text-transform: capitalize;
}

.WebPages button:hover a{
  background: var(--bg_color);
  color: var(--white);
}


/* AddNewPages */
.AddNewPages{
  margin-top: 30px;
}

.TopSellingProducts .AddNewPages .MuiFormControl-root{
  width: 100%;
}

.AddNewPages p{
  text-align: left;
}

.AddNewPages p a{
  margin-left: 5px;
}

.SelectTheme {
  margin-bottom: 20px;
}

.SelectThemeImg{
  width: 100%;
}


@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .SelectTheme .radio {
      display: none;
  }

  .radio:checked ~ .plan-details {
    border: 2px dashed var(--bg_color);
 }

}

.SelectTheme .plan-details {
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  transition: border-color 0.2s ease-out;
  background: #FFF;
  box-shadow: 3px 9px 28px rgb(0 0 0 / 6%);
  border: 2px solid #DDD;
}



.SelectTheme{
  margin-top: 30px;
}

.SelectTheme .plan-details img{
  width: 100%;
}

.TopSellingProducts .AddNewPages .DashboardForm .CustomeInput{
  width: 100%;
}

.SelectTheme .plan-details .card{
  margin-bottom: 0;
}

.DashboardForm .SelectTheme h5 {
  margin-bottom: 30px;
}

/* ---------------------------------------------------------------------------------------------------------------------------
  Menubar
--------------------------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------------------------
  Menubar
--------------------------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------------------------
  Menubar
--------------------------------------------------------------------------------------------------------------------------- */



/* ---------------------------------------------------------------------------------------------------------------------------
  Menubar
--------------------------------------------------------------------------------------------------------------------------- */